---
http_interactions:
- request:
    method: get
    uri: http://platform.fatsecret.com/rest/server.api?food_id=793&format=json&method=food.get&oauth_consumer_key=7ebedda1451640ecbd8db41ea22d1351&oauth_nonce=bf13ecc1c0626d5f&oauth_signature=E9zVgOaTC6x0VAfuRCWYNael9Zo%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1349949298&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{ "food": {"food_id": "793", "food_name": "Milk", "food_type": "Generic",
        "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/milk",
        "servings": { "serving": [ {"calcium": "28", "calories": "122", "carbohydrate":
        "11.49", "cholesterol": "17", "fat": "4.88", "fiber": "0", "iron": "0", "measurement_description":
        "cup", "metric_serving_amount": "244.000", "metric_serving_unit": "g", "monounsaturated_fat":
        "1.301", "number_of_units": "1.000", "polyunsaturated_fat": "0.249", "potassium":
        "361", "protein": "8.03", "saturated_fat": "2.965", "serving_description":
        "1 cup", "serving_id": "3", "serving_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/milk?portionid=3&portionamount=1.000",
        "sodium": "100", "sugar": "12.59", "vitamin_a": "0", "vitamin_c": "0" }, {"calcium":
        "4", "calories": "15", "carbohydrate": "1.44", "cholesterol": "2", "fat":
        "0.61", "fiber": "0", "iron": "0", "measurement_description": "fl oz", "metric_serving_amount":
        "30.500", "metric_serving_unit": "g", "monounsaturated_fat": "0.163", "number_of_units":
        "1.000", "polyunsaturated_fat": "0.031", "potassium": "45", "protein": "1.00",
        "saturated_fat": "0.371", "serving_description": "1 fl oz", "serving_id":
        "192", "serving_url"[...]
