---
http_interactions:
- request:
    method: get
    # uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=50&method=foods.search&oauth_consumer_key=7ebedda1451640ecbd8db41ea22d1351&oauth_nonce=1234&oauth_signature=YEHblI2X9JWOhRgWwWDvKw%2BhoPw%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1349948152&oauth_version=1.0&page_number=0&search_expression=Milk
    uri: http://platform.fatsecret.com/rest/server.api?format=json&max_results=50&method=foods.search&oauth_consumer_key=abcd&oauth_nonce=1234&oauth_signature=PqE6UMGxCF4FySgesdMDE8qNopI%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1325372400&oauth_version=1.0&page_number=0&search_expression=Milk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{ "foods": { "food": [ {"food_description": "Per 100g - Calories:
        50kcal | Fat: 2.00g | Carbs: 4.71g | Protein: 3.29g", "food_id": "793", "food_name":
        "Milk", "food_type": "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/milk"
        }, {"food_description": "Per 100g - Calories: 60kcal | Fat: 3.25g | Carbs:
        4.52g | Protein: 3.22g", "food_id": "794", "food_name": "Whole Milk", "food_type":
        "Generic", "food_url": "http:\/\/www.fatsecret.com\/calories-nutrition\/generic\/milk-cows-fluid-whole"
        }, {"food_description": "Per 100g - Calories: 42kcal | Fat: 0.97g | Carbs:
        4.99g | Protein: 3.37g", "food_id": "803", "food_name": "1[...]
